*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  margin-top: 60px;
  text-align: center;
}

.wrapper h1{
  font-size: 60px;
  color: aliceblue;
  margin-bottom: 25px;
  position: absolute;
  left: 50%;
  top: 20%;
}
.wrapper .our_team{
  display: flex;
  width: auto;
  justify-content: center;
  margin: 5%;
}

.wrapper .our_team .team_member{
  width: 300px;
  height: 500px;
  margin: 5px;
  background: #064663;
  padding: 20px 10px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50px;
}

.wrapper .our_team .team_member .member_img{
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.wrapper .our_team .team_member .member_img img{

  width: 100%;
  height: 100%;
}
.wrapper .our_team .team_member h3{
  color: aliceblue;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0 ;
  padding-bottom: 10px;
}
.wrapper .our_team .team_member p{
  color: aliceblue;
  margin-top: 20px;
  font-size: 14px;
  line-height: 25px;
}
span{
  color: aliceblue;

}
.wrapper .our_team .team_member .social_media{
  position: absolute;
  top :5px;
  left: 5px;
  width: 95%;
  height: 95%;
  background: rgba(4, 28, 50, 0.65);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.5s ease;
}
.wrapper .our_team .team_member .social_media .item{

  margin: 0 10px;
  
}
.icons{
  fill: green;
  font-size: 20px;
}

.wrapper .our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
  
}
img{
  border-radius: 50%;
}