<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="our_team">
            <div class="team_member">
                <div class="member_img">
                    <img src="../../../assets/257632739_4507071332705633_6974108688820892680_n.jpg" alt="our_team">
                    <div class="social_media">
                        <div class="item"><img src="../../../assets/facebook-brands (1).svg" class="icons"></div>
                        <div class="item"><img src="../../../assets/twitter-brands.svg" ></div>
                        <div class="item"><img src="../../../assets/instagram-brands.svg" ></div>
                    </div>
                </div>
                <h3>Mohamed Rached Hidoussi</h3>
                <span>ICT STUDENT </span>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, maiores ex, voluptatem ea magni iure assumenda ratione accusamus incidunt dolores unde aliquid dolorum, excepturi voluptates? Magni harum quia quos adipisci?</P>

            </div>

            <div class="team_member">
                <div class="member_img">
                    <img src="../../../assets/wajdi.jpg" alt="our_team">
                    <div class="social_media">
                        <div class="item"><img src="../../../assets/facebook-brands.svg" class="icons"></div>
                        <div class="item"><img src="../../../assets/twitter-brands.svg"></div>
                        <div class="item"><img src="../../../assets/instagram-brands.svg"></div>
                    </div>
                </div>
                <h3>Wajdi Hammami</h3>
                <span>ICT STUDENT </span>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, maiores ex, voluptatem ea magni iure assumenda ratione accusamus incidunt dolores unde aliquid dolorum, excepturi voluptates? Magni harum quia quos adipisci?</P>

            </div>

        </div>

    </div>
    
</body>
</html>