<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="our_team">
            <div class="team_member">
                <div class="member_img">
                    <img src="../../../assets/257632739_4507071332705633_6974108688820892680_n.jpg" alt="our_team">
                    <div class="social_media">
                        <div class="item"><img src="../../../assets/facebook-brands (1).svg" class="icons"></div>
                        <div class="item"><img src="../../../assets/twitter-brands.svg" ></div>
                        <div class="item"><img src="../../../assets/instagram-brands.svg" ></div>
                    </div>
                </div>
                <h3 style="padding-bottom: 5px; line-height: normal;">Mohamed Rached Hidoussi</h3>
                <span>ICT STUDENT </span>
                <P style="text-transform: uppercase; font-family: 'Courier New', Courier, monospace;">studies in 2nd year of ict at supcom worked on this project using machine learning with several models.
                </P>

            </div>

            <div class="team_member">
                <div class="member_img">
                    <img src="../../../assets/wajdi.jpg" alt="our_team">
                    <div class="social_media">
                        <div class="item"><img src="../../../assets/facebook-4-16.jpg" class="icons"></div>
                        <div class="item"><img src="../../../assets/twitter-brands.svg"></div>
                        <div class="item"><img src="../../../assets/instagram-brands.svg"></div>
                    </div>
                </div>
                <h3>Wajdi Hammami</h3>
                <span>ICT STUDENT </span>
                <P style="text-transform: uppercase; font-family: 'Courier New', Courier, monospace;">
                
                </P>

            </div>

        </div>

    </div>
    
</body>
</html>