<div class="headd">
    <div class="container">
        <ul class="breadcrumb">
            <a routerLink="">
                <li class="breadcrumb__item breadcrumb__item-firstChild">
                <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Home</span>
                </span>
                </li>
            </a>
            <a routerLink="latest">
        <li class="breadcrumb__item">
        <span class="breadcrumb__inner">
        <span class="breadcrumb__title">Latest Pishes</span>
        </span>
        </li>
        </a>


        <a routerLink="FaQs">
        <li class="breadcrumb__item">
        <span class="breadcrumb__inner">
        <span class="breadcrumb__title">FAQs</span>
        </span>
        </li>
        </a>


        <a routerLink="aboutus">
        <li class="breadcrumb__item breadcrumb__item-lastChild">
        <span class="breadcrumb__inner">
        <span class="breadcrumb__title">About Us</span>
        </span>
        </li>
        </a>
        
        </ul>
    </div>
</div>