

  <div class="container" *ngIf="loading">
    <div  class="Loading"></div>
  </div>

<div *ngIf="result" class="result">
	
  <div class="containerr">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="animate-charcter"> {{Result.prediction}}</h3>
      </div>
    </div>
  </div>
  <div class="des dess" ><h2> Submitted URL	: {{Result.url}}</h2>
    
  </div>
  <div class="des">  
     <h2>	Domain Age : {{Result.data["domain age"]}}</h2>  
  </div>
  <div class="des">
     <h2> Hostname : {{Result.data.hostname}}</h2>
  </div>
  <div class="des">
    <h2> openpage Rank : {{Result.data["openpage rank"]}}</h2>
 </div>
 <div class="des">
  <h2> Url Length : {{Result.data["url length"]}}</h2>
</div>
  
</div>