
<h1>Phishing  Detection<span>- Based on ML -</span></h1>
	<div class="search-box">
		<button class="btn-search" (click)="onSearch()" ><h2 class="here">CLICK HERE</h2></button>
		<input type="text" class="input-search" placeholder="Put The Link Here..." [(ngModel)]="url">

		<div *ngIf="check" class="error">
			<h2 class="mess">URL format is wrong</h2>
		</div>
	</div>

<!--<div *ngIf="loading" class="loader-container">
	<mat-spinner style="top:40%; left:40%"></mat-spinner>
	<h1 style="top:70%; left:55%"> Loading ...</h1>
</div>
!-->
