
body{
  margin: 0px;
  padding: 0px;
}
.search-box{
  
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 40%;
  top:50%;
}

.input-search{
  border-radius: 10px;
  height: 70px;
  width: 200px;
  border-style: none;
  padding-left: 10px;
  outline: none;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#22a6b3;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
}
.input-search::placeholder{
  
  color:#22a6b3;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 250px;
  height: 70px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted; 
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
}
.btn-search:focus ~ .input-search{
  color: black;
  padding-right: 200px;
  width: 350px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  color: #ffffff;
  padding-right: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.loader-container{
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
  z-index: 99;
}